@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Newsreader", serif;
  --font-sans: "Manrope", sans-serif;

  --color-paper: #f9f9f7;
  --color-charcoal: #1a1c1b;
  --color-ink: #000000;
  --color-clay: #928173;
  --color-parchment: #e1dfdc;
}

@layer base {
  body {
    @apply bg-paper text-charcoal font-sans antialiased;
  }
}

.perspective-1000 {
  perspective: 1000px;
}

.book-shadow {
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.2), 
              1px 1px 10px rgba(0, 0, 0, 0.1);
}
